<h1>New Park Form</h1>

<%if @error_message != nil%>
  <h3><%=@error_message%></h3>
<%end%>

<%= form_for @park , url: {action: "create"} do |f| %>
  <%=f.label :title, "Title"%>
  <%= f.text_field :title %>
  <%=f.label :location, "Location"%>
  <%= f.text_field :location %>

  <%= form.check_box :bathroom %>
  <%= form.check_box :picnic %>
  <%= form.check_box :pets %>
  <%= form.check_box :basketball %>
  <%= form.check_box :baseball %>

  <%= f.submit "Add Park" %>
<% end %>
