<% if params[:search].present? || params[:search] == "" %>
  <h1>Search Results!</h1>
<% else %>
  <h1>Parks</h1>
<% end %>

<% if @parks.none? || params[:search] == "" %>
  <h5>No results found!</h5>
<% end %>

<ul class="small-10 small-centered column">
  <% @parks.each do |park| %>
    <div class="park-index-list-item">
      <li class="park-head">
        <%= link_to park.title, park_path(park) %><br>
        <%= park.location %>
        <div class="index-rating">
          <%= park.rating %>8.7
        </div>
      </li>
    </div>
  <% end %>
</ul>

<%= paginate @parks %>
<%= link_to "New Park", new_park_path %>
