<h1><%= @park.title%></h1>
  <%= @park.location %>
  <%= @park.rating %>

<ul>
  <li>
    <%= image_tag("/images/bathroom.png", size:"40") if @park.bathroom %>
    <%= "Bathrooms Available" if @park.bathroom %>
  </li>
  <li>
    <%= image_tag("/images/picnic.png", size:"40") if @park.picnic %>
    <%= "Picnic Facilities Available" if @park.picnic %>
  </li>
  <li>
    <%= image_tag("/images/pet.png", size:"40") if @park.pets %>
    <%= "Pets Allowed" if @park.pets %>
  </li>
  <li>
    <%= image_tag("/images/basketball.png", size:"40") if @park.basketball %>
    <%= "Basketball Courts Available" if @park.basketball %>
  </li>
  <li>
    <%= image_tag("/images/baseball.png", size:"40") if @park.baseball %>
    <%= "Baseball Field Available" if @park.baseball %>
  </li>
</ul>


<div>
  <%= link_to 'Update', edit_park_path(@park) %>
  <% if current_user.present? && current_user.admin? %>
  <%= link_to 'Delete', park_path(@park), method: "delete" %>
  <% end %>
</div>


<ul>
  <% @park.reviews.each do |review|%>
    <% if !review.id.nil?%>
          <li class="inline-list">
            <%= review.title%>
            <div>
                <%= link_to 'Edit', edit_park_review_path(@park, review)%>
                <%= link_to 'Delete Review', park_review_path(@park, review), method: :delete%>
            </div>
            <div>
              <%= review.body %>
            </div>
            <hr>
          </li>

    <% end %>
  <% end %>

</ul>

<div>


<%= render "reviews/form" %>
</div>
