<h1><%= @park.title%></h1>
  <%= @park.location %>
  <%= @park.rating %>

<ul>
  <% if @park.bathroom%>
    <li>
      Bathrooms available
    </li>
    <%end%>
  <% if @park.picnic%>
    <li>
      Picnic facilities available
    </li>
    <%end%>
  <% if @park.pets%>
    <li>
      Pets allowed
    </li>
  <%end%>
  <% if @park.basketball%>
    <li>
      basketball courts available
    </li>
  <%end%>
  <% if @park.baseball%>
    <li>
      Baseball field available
    </li>
  <%end%>
</ul>


<div>
  <%= link_to 'Update', edit_park_path %>
  <%= link_to 'Delete', park_path(@park), method: "delete" %>
</div>



<ul>

  <% @park.reviews.each do |review|%>
    <div class="inline-list">
      <li>
        <%= review.title%>
        <div>
          <%= review.body %>
        </div>
        <hr>
      </li>
    </div>
  <%end%>

</ul>
