<h1><%= @park.title%></h1>
  <%= @park.location %>
  <%= @park.rating %>

<ul>
  <% if @park.bathroom%>
    <li>
      Bathrooms available
    </li>
    <%end%>
  <% if @park.picnic%>
    <li>
      Picnic facilities available
    </li>
    <%end%>
  <% if @park.pets%>
    <li>
      Pets allowed
    </li>
  <%end%>
  <% if @park.basketball%>
    <li>
      basketball courts available
    </li>
  <%end%>
  <% if @park.baseball%>
    <li>
      Baseball field available
    </li>
  <%end%>
</ul>


<div>
  <%= link_to 'Update', edit_park_path(@park) %>
  <%= link_to 'Delete', park_path(@park), method: "delete" %>
</div>


<ul>
  <% @park.reviews.each do |review|%>
    <% if !review.id.nil?%>
          <li class="inline-list">
            <%= review.title%>
            <div>
                <%= link_to 'Edit', edit_park_review_path(@park, review)%>
            </div>
            <div>
              <%= review.body %>
            </div>
            <hr>
          </li>

    <% end %>
  <% end %>

</ul>

<div>


<%= render "reviews/form" %>
</div>
