<h1>Your Profile Information</h1>
<%= image_tag "#{@user.profile_photo}", size: "160x160" %>
<ul>
  <li><%= @user.first_name %></li>
  <li><%= @user.last_name %></li>
  <li><%= @user.email %></li>
</ul>

<li> <%= link_to 'Update', edit_user_registration_path %></li>
