<% unless @reviews.nil? %>
<% @reviews.each do |review|%>
  <% if !review.id.nil?%>
    <div class="park-index-list-item">
      <div class="row" data-equalizer>

        <li>
          <div class="review-info small-4 column" data-equalizer-watch>
            <p>
              <%= review.title %><br>
              Rating: <%= review.rating %><br>
              <% if current_user == review.user%>
                <%= link_to 'Edit / ', edit_park_review_path(@park, review)%>
                <%= link_to 'Delete', park_review_path(@park, review), method: :delete%>
              <% end %>
            </p>
          </div>
          <div class="review-body small-5 column" data-equalizer-watch>
            <p><%= review.body %></p>
          </div>
          <div class="review-rating small-3 column text-center" data-equalizer-watch>
            <p>
              <% flag = false %>
              <% if current_user.nil?%>
                vote count: <%= review.vote_count%>
              <% end %>
              <% if !current_user.nil?%>
                <% if !review.votes.nil? && !current_user.nil? %>
                  <% review.votes.each do |vote|%>
                    <% if vote.user_id == current_user.id %>
                      <% flag = true %>
                    <% end %>
                  <% end %>
                <% end %>

                <% if flag %>
                  <div class="update-button-<%= review.id %>">
                    <%= button_to 'Up', {controller: "votes", action: "update", park_id: @park.id, review_id: review.id, vote: "up"} , method: :patch, id: "update-up", data: {park_id: @park.id, review_id: review.id, user_id: current_user.id, vote_id: review.votes.where(user: current_user).first}, class: "button tiny vote"%>
                    <div class="vote-count-<%= review.id %>">
                      Vote Count: <%= review.vote_count%>
                    </div>
                    <%= button_to 'Down', {controller: "votes", action: "update", park_id: @park.id, review_id: review.id, vote: "down"} , method: :patch , id: "update-down", data: {park_id: @park.id, review_id: review.id, user_id: current_user.id, vote_id: review.votes.where(user: current_user).first}, class: "button tiny vote" %>
                  </div>
                <% else %>
                  <div class="create-button-<%= review.id %>">
                    <%= button_to 'Up', {controller: "votes", action: "create", park_id: @park.id, review_id: review.id, vote: "up"} , method: :post, class: "create-up button tiny vote",  id: "create-up-#{review.id}", data: { park_id: @park.id, review_id: review.id, user_id: current_user.id , vote_id: review.votes.where(user: current_user).first} %>
                    <div class="vote-count-<%= review.id %>">
                      Vote Count: <%= review.vote_count%>
                    </div>
                    <%= button_to 'Down', {controller: "votes", action: "create", park_id: @park.id, review_id: review.id, vote: "down"} , method: :post, class: "create-down button tiny vote", id: "create-down-#{review.id}", data: {park_id: @park.id, review_id: review.id, user_id: current_user.id, vote_id: review.votes.where(user: current_user).first }%>
                  </div>
                <% end %>
              <% end %>
            </p>
          </div>
        </li>
      </div>
    </div>
  <% end %>
<% end %>
<% end %>
